{% extends 'base.html' %}
{% block title %} Online Store - Add Product {% endblock %}

{% block content %}
<div class="formwrapper">
  <div class="container">
    <h4 class="title">Add an Item:</h2>
    <form method="POST" action="/products">
      {{ form.csrf_token }}
        <div class="form-field">{{ form.name.label }} {{ form.name }}</div>
        <div class="form-field">{{ form.category.label }} {{ form.category }}</div>
        <div class="form-field">{{ form.price.label }} {{ form.price }}</div>
        <div class="form-field">{{ form.stock.label }} {{ form.stock }}</div>
        <div class="form-field">{{ form.img.label }} {{ form.img }}</div>
        {{ form.submit }}
    </form>
  </div>
</div>



{% endblock %}