{% extends "base.html" %}
{% block title %} Online Store - Products {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container col-md-4">
        {% for product in products %}
        <div class="item-name"><a href="products/{{ product['name'] }}">{{ product["name"] }}</a></div>
        {% endfor %}
    </div>
    <div class="container flexbox col-md-8">
    {% for product in products %}
    <a href="products/{{ product['name'] }}">
            <div class="container border-black">
                <p style="font-size: large;">{{ product["name"] }}</p>
                <p>Category: {{ product["category"] }}</p>
                <p>Price: ${{ product["price"] }}</p>
                <p>In stock: {{ product["stock"] }}</p>
                <p><img src="http://picsum.photos/200/200"></p>
            </div>
        </a>
    {% endfor %}
    </div>
</div>
{% endblock %}